main h1{
  font-size: 60px;
  background-color: #851944;
  color: #FFF;
  text-align: center;
  padding: 20px;
  margin: 0px;
}
h2{
  font-size: 40px;
}
h1, h2 {
    font-family: "Open Sans Condensed", "Arial", sans-serif;
}
body {
    background-color: #F2FFFC;
    font-family: "Crimson Text", "Times New Roman", serif;
    line-height: 1.5;
}
p {
    text-align: justify;
    margin:20px 0px;
}

blockquote {
    background-color: #D9E5E3;
    padding: 16px;
    border: 10px solid #C2CCCA;
    width: 250px;
    margin:0px;
    box-sizing: border-box;
    border-bottom-color: #333;
   border-right-color: #FFF;
}

aside {
    background-color: #3C1D3D;
    color: #F2FFFC;
}

aside a {
    color: inherit;
    font-family: "Open Sans Condensed", sans-serif;
    text-decoration: none;
}

footer {
    background-color: #000;
    color: #F2FFFC;
}

/*main div {
    width: 720px;
    margin: auto;
}*/

/*nav a {
    color: #F2FFFC;
}*/
